@font-face {
    font-family: 'montserrat_bold';
    src: url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
        url('fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'montserrat_medium';
    src: url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
        url('fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'montserrat_regular';
    src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
        url('fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'manrope_regular';
    src: url('fonts/manrope-regular-webfont.woff2') format('woff2'),
        url('fonts/manrope-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 1440px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    margin-bottom: 150px;
}

.skip {
    color: #FB8B47;
}

.left_part {
    color: #575757;
}

.top-writings {
    font-family: 'montserrat_bold';
    font-size: 60px;
    line-height: 130%;
    letter-spacing: -2%;
}

.bottom-writings {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'montserrat_medium';
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -2%;
    color: #828282;
}

.header-image img {
    width: 792px;
    height: 843px;
    position: absolute;
    left: -280px;
}

.header-writings {
    width: 50%;
    margin-top: 140px;
    margin-left: 100px;
}

.header-image {
    width: 50%;
    position: relative;
}

.btn-primary {
    background-image: linear-gradient(to right, rgb(251, 162, 79), rgb(253, 81, 49));
    padding: 24px 32px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 100px;
    width: 192px;
    height: 68px;
}

.about-me {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding-bottom: 60px;
    margin-bottom: 80px;
}

.about-me-container {
    display: flex;
}

.about-me-image {
    width: 50%;
    position: relative;
}

.about-me-image img {
    width: 338px;
    height: 536px;
    position: absolute;
    left: 200px;
    top: 62px;
}

.about-me-info {
    width: 50%;
    margin-top: 100px;
}

.about-top {
    font-family: 'montserrat_bold';
    font-size: 40px;
    line-height: 54px;
    color: #707070;
    margin-bottom: 50px;
}

.about-bottom {
    font-family: 'manrope_regular';
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
    letter-spacing: 0;
}

.contact-button {
    margin-top: 80px;
}